HELP.md
# Maven / Gradle
/.mvn/
target/
/build/
*.jar
*.war
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDEs
.idea/
*.iml
*.ipr
*.iws
*.classpath
*.project
/.settings/


# OS specific files
.DS_Store
Thumbs.db
*.swp

# Spring Boot specific
/application.properties
/application.yml

# Logs
/logs
*.log

# Temporary files
tmp/
temp/
*.tmp

# Other
*.class
*.jar.dSYM


### VS Code ###
.vscode/
